dist
package-lock.json
.env
node_modules
npm-debug.log
.vscode
.husky
coverage
.env
uploads/**
public/**
.vscode
.eslintcache
.DS_Store
.eslintcache
volumes
**src/app/swagger/output/swagger_output.json
**dist
**.env
**node_modules
**npm-debug.log
**.vscode
**.husky
